{% load %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Carros</h1>
        <form method="POST" action="{% url 'listar_produto' %}">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required><br>

            <label for="modelo">Modelo:</label>
            <input type="text" name="modelo" id="modelo" required><br>

            <label for="cor">Cor:</label>
            <input type="text" name="cor" id="cor" required><br>

            <label for="ano">Ano:</label>
            <input type="number" name="ano" id="ano" required><br>

            <label for="preco">Preço:</label>
            <input type="number" name="preco" id="preco" required><br>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <div class="container">
        <h1>Lista de Carros</h1>
        {% for c in carros %}
            <h1>{{ c.nome }}</h1>
            <p>Modelo: {{ c.modelo }}</p>
            <p>Cor: {{ c.cor }}</p>
            <p>Ano: {{ c.ano }}</p>
            <p>Preço: {{ c.preco }}</p>
            <hr>
        {% empty %}
            <h2>Nenhum carro encontrado.</h2>
        {% endfor %}
    </div>
</body>
</html>